<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @micropost.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@micropost, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'rel2s/follow_button', micropost: @micropost %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(micropost_path(@micropost)) %>"><%= link_to user_path(@micropost) do %>Microposts <span class="badge"><%= @count_microposts %></span><% end %></li>
      <li class="<%= 'active' if current_page?(following2s_micropost_path(@micropost)) %>"><%= link_to following2s_micropost_path(@micropost) do %>Following2s <span class="badge"><%= @count_following2s %></span><% end %></li>
      <li class="<%= 'active' if current_page?(follower2s_micropost_path(@micropost)) %>"><%= link_to followers2_micropost_path(@micropost) do %>Follower2s <span class="badge"><%= @count_follower2s %></span><% end %></li>
    </ul>
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
</div>